# --- venvs ---
.venv/
.sc_venv/

# --- PyThon (project-wide) ---
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so
.ipynb_checkpoints/

# --- macOS ---
.DS_Store
.vscode/
.idea/

# --- builds / packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Latex: keep sour es and PDF but ignore build outputs ---
sc_latex/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
_minted*/
*.glsdefs
*.xdv
*.nav
*.snm
*.vrb

