.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

*cache*/

Dusel_Karle_SC_passed.pdf

# Latex: keep sour es and PDF but ignore build outputs
build/
Figures/
*.aux
*.bb.
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
_minted*/
*.glsdefs
*.xdv
*.nav
*.snm
*.vrb

SC-Data/
SC-PyThon/vendor/ClebschGordon/
